   


<div class="container ctn "  >
  <div class="row">
    <div class="col-sm-8 pad">
      
    
    <nav class="navbar navbar-default ">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Données <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li routerLinkActive="active"><a routerLink="/saisie-individu">Saisie individuelle</a></li>
                <li routerLinkActive="active"><a routerLink="saisie">CSTES Etat civil</a></li>
                <li routerLinkActive="active"><a routerLink="saisie">CSTE Opé vacc</a></li>
                <li routerLinkActive="active"><a routerLink="saisie">CSTE vaccin </a></li>
                <li routerLinkActive="active"><a routerLink="saisie">Tableau de bord</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Requetes<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li routerLinkActive="active"><a routerLink="saisie">Etat civil</a></li>
                <li routerLinkActive="active"><a routerLink="saisie">Vaccinations</a></li>
                <li routerLinkActive="active"><a routerLink="saisie">Alertes</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Edition <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li routerLinkActive="active"><a routerLink="saisie">Edition des Etats</a></li>
                <li routerLinkActive="active"><a routerLink="saisie">Documents Edités</a></li>
                <li routerLinkActive="active"><a routerLink="saisie">Listes</a></li>
                <li routerLinkActive="active"><a routerLink="saisie">Courriers Envoyés</a></li>
                <li routerLinkActive="active"><a routerLink="saisie">Bordereau CPAM</a></li>
                <li routerLinkActive="active"><a routerLink="saisie">Statistiques ETCV</a></li>
                <li routerLinkActive="active"><a routerLink="saisie">Statistiques OPVAC</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Configuration <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li routerLinkActive="active"><a routerLink="saisie">Utilisateurs</a></li>
                <li routerLinkActive="active"><a routerLink="saisie">Droits</a></li>
                <li routerLinkActive="active"><a routerLink="saisie">Groupes</a></li>
                <li routerLinkActive="active"><a routerLink="saisie">Courriers</a></li>
                <li routerLinkActive="active"><a routerLink="saisie">Etats</a></li>
                <li routerLinkActive="active"><a routerLink="saisie">Modèles Listes</a></li>
                <li routerLinkActive="active"><a routerLink="saisie">Synchro CS</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Divers <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li routerLinkActive="active"><a routerLink="saisie">Infos Centre</a></li>
                <li routerLinkActive="active"><a routerLink="saisie">Changement MDP</a></li>
                <li routerLinkActive="active"><a routerLink="saisie">Options</a></li>
                <li routerLinkActive="active"><a routerLink="saisie">Synchro</a></li>
                <li routerLinkActive="active"><a routerLink="saisie">Apropos de ..</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      
    </nav>
  </div> 
    <div class="col-sm-3 adm  ">  
       <div class="  loginDate"> 
      <b>{{admin.type}}</b> {{admin.date}}
    </div>
    </div>
    </div>
  </div>
 

