<div class="container-fluid">

  <div class="row">
    <div class="col-sm-auto" style=" background-color: #f1f1f1;">
      Gérez votre fichier de vaccinations
      Gérez votre fichier de vaccinations
      Gérez votre fichier de vaccinations
      Gérez votre fichier de vaccinations
      Gérez votre fichier de vaccinations
      Gérez votre fichier de vaccinations
      Gérez votre fichier de vaccinations
      Gérez votre fichier de vaccinations
      Gérez votre fichier de vaccinations
      Gérez votre fichier de vaccinations
      Gérez votre fichier de vaccinations
      Gérez votre fichier de vaccinations
      Gérez votre fichier de vaccinations
      Gérez votre fichier de vaccinations
      Gérez votre fichier de vaccinations
      

    </div>

  </div>
</div>